version: "3.7"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "${APP_INTEL_GPU_MONITOR_PORT:-8847}:8847"
    environment:
      - NODE_ENV=production
      - PORT=8847
    privileged: true
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${APP_DATA_DIR}/data:/data
